body{
    text-align: center;
}

.head{
    font-size: 50px;
}

h3{
    font-size: 35px;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{
    display: flex;    
    justify-content: center;
}


#a, #b, #c, #d, #e, #f, #g, #h, #i, #j, #k, #l, #m, #n, #o, #p, #q, #r, #s, #t, #u, #v, #w, #x{
    margin: 20px;
    padding: 20px;
    width: 350px;
    border: 1px solid black;
}

img{
    width: 300px;
    height: 300px;
}

.btn{
    font-size: 35px;

    cursor: pointer;
}